
@media  (max-width: 1200px) {

    .choose_us{
        display: block;
        height: auto;
    }
}


@media  (max-width: 992px) {
    .hero_carousal h2, section.about h2, .choose_us h2{
        font-weight: 700;
        font-size: 32px;
    }
    .hero_carousal p, section.about p, .choose_us p{
        font-weight: 400;
        font-size: 16px;
    }

    .footer_links{
        display: block !important;
        text-align: center;
    }
    .copyright{
        text-align: left;
    }
}



@media  (max-width: 768px) {

    .navbar-brand img{
        max-height: 100%;
        max-width: 180px;
    }
    .testimonial_box{
        width: 70%;
        padding: 15px;
    }
}