@tailwind base;
@tailwind components;
@tailwind utilities;

.collapse {
    visibility: inherit;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 80% !important; 
    }
    .testimonial .slick-list{
        overflow: unset !important;
        overflow-y: hidden;
    }
    .testimonial .container{
        overflow-x: clip;
    }
}

