/* @font-face{
    font-family:'MuseoSans_100';
    src: url('./fonts/MuseoSans-100.otf');
   }

@font-face{
    font-family:'MuseoSans_300';
    src: url('./fonts/MuseoSans-300.otf');
   }

@font-face{
    font-family:'MuseoSans_500';
    src: url('./fonts/MuseoSans_500.otf');
   }

@font-face{
    font-family:'MuseoSans_700';
    src: url('./fonts/MuseoSans_700.otf');
   } */

/* * {
    font-family: MuseoSans_100;
    margin: 0;
    padding:0;
} */

body {
    margin: 0;
    padding:0;
}

/* TITLE FLOW2 */

.title{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 400px;
    background-color: rgb(78, 78, 78);
    align-items:center;
}

.title-text{
    font-size: 70px;
    /* font-family: MuseoSans_300; */
    color: white;
    margin: auto;
}

/* PAGE INFO */

.page-info {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}

.advice {
    /* font-family: MuseoSans_300; */
    margin: 25px 0;
}

.detail {
    /* font-family: MuseoSans_300; */
    font-size: 20px;
    margin-bottom: 25px
}
footer {
    margin-top: 5%;
}

.containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr; /* Alle gridrijen hebben dezelfde hoogte */
    column-gap: 3%;
    row-gap: 5%;
    width: 80%;
    padding: 0;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 5%;
}

.grid-img-container {
    content: url("");
    width: 100%;
    height: 300px;
    position: relative;
}

.grid-img{
    cursor: pointer;
    width: 100%;
    max-height: 70%;
    position: relative;
    margin: auto;
    transition: 0.2s;
}

.grid-img:hover{
    justify-content: center;
    align-items:center;
    width:97%;
    margin: auto;
    box-shadow: 0 0 12px #626262;
}

.grid-text{
    color: white;
    position:absolute;
    background-color: #404041;
    width: 100%;
    backdrop-filter: blur(40px);
}

.img-text {
    margin-left: 10px;
    padding-top: 5px;
}

@media screen and (max-width: 900px) {
    .containers {
        grid-template-columns: 1fr;
    }
}

.goback {
    margin-top: 5%;
    margin-left: 10%;
}
